.letter {
    border-bottom: 2px solid black;
    height: 3rem;
    width: 3rem;
    font-size: 2.25rem;
    margin: 0 1rem;
    color: blue;
}

.number {
    border-bottom: 2px solid black;
    height: 3rem;
    width: 3rem;
    font-size: 2.25rem;
    margin: 0 1rem;
    color: lightslategray;
}

.punctuation {
    height: 3rem;
    width: 3rem;
    font-size: 2.25rem;
}